@each $position,$value in $positions
     @each $color,$color-value in $colors
          @for $m from 1 to 10
               .b#{$position}-#{$m}-#{$color}
                    border-#{$value}: $m*1px solid $color-value
          @for $i from 1 to 10
               @if lighten($color-value, 8% * (10 - $i))!=white
                    .b#{$position}-#{$color}-#{$i*10}
                         border-#{$value}: 1px solid lighten($color-value, 8% * (10 - $i))
@each $color,$color-value in $colors
          .b-#{$color}
               border: 5px solid $color-value
.border-left
     border-left: 1px solid white
.border-bottom
     border-bottom: 1px solid white
.border-grey
     border-color: $grey !important
.border-40
     border-color: rgba($white,0.4)
.no-border
     border: none !important
