.breadcrumb
     position: absolute
     bottom: 0
     width: 100%
     background-color: rgba(black,0.5)
     .bread-wrapper
          display: flex
          width: 100%
          +mx(auto)
          flex-wrap: wrap
          a
               text-transform: uppercase
               +py(40px)
               +px(50px)
               font-size: 20px
               font-weight: 800
               flex: 1
               display: inline-flex
               align-items: center
               color: white
          .active
               background-color: white
               color: #323232
          +respond-to(x-small)
               max-width: 540px
          +respond-to(small)
               max-width: 720px
          +respond-to(medium)
               max-width: 960px
          +respond-to(large)
               max-width: 1180px
          +respond-to(large)
               max-width: 1380px
     +respond-to-down(medium)
          .bread-wrapper
               a
                    +py(20px)
                    +px(30px)
                    font-size: 18px
     +respond-to-down(small)
          .bread-wrapper
               a
                    justify-content: center
                    text-align: center
                    +py(10px)
                    +px(15px)
                    font-size: 14px
