.business-con
     width: 100%
     max-width: 1590px
     +mx(auto)
     +px(35px)
     margin-top: 50px
     &_row
          +mx(-35px)
          display: flex
          flex-wrap: nowrap
     &_left
          +px(35px)
          font-family: 'Cocogoose',sans-serif
          h1
               text-transform: uppercase
               font-size: 79.2px
               color: #a8dbde
               line-height: 1em
          div
               +my(60px)
               max-width: 330px
          span
               font-size: 24px
               color: #c2c2c2
               text-transform: uppercase
               line-height: 2
               font-weight: 200
               &:nth-child(even)
                    font-weight: 300
               &.active
                    color: #a8a8a8
     &_right
          +px(35px)
          +respond-to(large)
               margin-left: auto
          width: 100%
     .b-grid
          width: 100%
          $grid-size: auto
          display: -ms-grid
          display: grid
          grid-template-columns: repeat(3, $grid-size)
          -ms-grid-columns: ($grid-size)[3]
          grid-template-areas: 'box-1 box-2 box-3''box-4 box-5 box-6'
          @media (max-width: 960px)
               grid-template-columns: repeat(3, auto)
               -ms-grid-columns: (auto)[3]
          .b-box
               line-height: 0
               margin-bottom: 44px
               grid-column: span 1
               &:not(:nth-child(3n))
                    margin-right: 36px
               &:nth-child(1)
                    -ms-grid-row: 1
                    -ms-grid-column: 1
               &:nth-child(2)
                    -ms-grid-row: 1
                    -ms-grid-column: 2
               &:nth-child(3)
                    -ms-grid-row: 1
                    -ms-grid-column: 3
               &:nth-child(4)
                    -ms-grid-row: 2
                    -ms-grid-column: 1
               &:nth-child(5)
                    -ms-grid-row: 2
                    -ms-grid-column: 2
               &:nth-child(6)
                    -ms-grid-row: 2
                    -ms-grid-column: 3

               .content
                    max-width: 100%
                    position: relative
                    transition: all 0.3s ease-in
               img
                    max-width: 100%

               a
                    position: absolute
                    display: flex
                    align-items: center
                    justify-content: center
                    height: 100%
                    width: 100%
                    bottom: 0
                    left: 0
                    background: rgba(black,.73)
                    color: white
                    opacity: 0
                    z-index: 1
                    text-align: center
                    line-height: 1em
                    text-transform: uppercase
                    font-size: 16
                    font-family: 'Cocogoose',sans-serif
                    transition: all 0.3s ease-in
               &:hover
                    a
                         opacity: 1
                    .content
                         box-shadow: 0px 12px 15px 4px rgba(black,0.2)

     // notebook
     +respond-to-down(large)
          &_row
               flex-wrap: wrap

     // tablet
     +respond-to-down(medium)
          .b-grid
               .b-box
                    a
                         opacity: 1
                         font-weight: 200
                         top: 50%
                         height: 50%
                         
     // mobile
     +respond-to-down(small)
          &_left
               h1
                    font-size: 30px
               div
                    +my(30px)
               span
                    font-size: 12px
          .b-grid
               .b-box
                    margin-bottom: 17px
                    &:not(:nth-child(3n))
                         margin-right: 13px
                    a
                         font-size: 10px
