.btn
     text-shadow: none
     display: inline-flex
     text-decoration: none
     font-size: 14px
     text-transform: uppercase
     +px(40px)
     +py(8px)
     +noborder
     font-weight: 400
     outline: none
     +easeoutcirc
     &:not(:disabled):not(.disabled)
          cursor: pointer
     &.ghost
          border: 2px solid white
          color: white
     img
          margin-right: 6px
     +respond-to-down(medium)
          // &:focus
          //      +shadow
          // &:active
          //      +shadow
// .btn-lg
//      font-size: 16px
//      +px(2rem)
//      +py(.7rem)
// .btn-md
//      font-size: 1rem
//      border: none
//      +px(1rem)
//      +py(.5rem)
// .btn-sm
//      font-size: 1rem
//      +px(.6rem)
//      +py(.3rem)
// @each $color, $value in $theme-colors
//      .btn.#{$color}
//           color: choose-contrast-color(darken($value, 20%))
//           background-color: $value
//           &:hover,&:focus,&:active
//                background-color: darken($value, 8%)
//      .btn.#{$color}:disabled,.btn.#{$color}.disabled
//           background-color: lighten($value, 25%)
//           cursor: not-allowed
//      .btn.outline.#{$color}
//           border: 1px solid $value
//           color: $value
//           background-color: transparent
//           &:not(:disabled):not(.disabled):hover
//                background: $value
//                color: choose-contrast-color(darken($value,20%))
//           &:hover:focus,&:active
//                background-color: darken($value, 8%)
//      .btn.outline.#{$color}:disabled,.btn.outline.#{$color}.disabled
//           color: lighten($value, 25%)
//           border-color: lighten($value, 25%)
//           cursor: not-allowed
// .btn.ghost
//      color: $main-text
//      background-color: transparent
//      &:hover
//           text-decoration: underline
// button.close
//      padding: 0
//      background-color: transparent
//      border: 0
//      -webkit-appearance: none
//      -moz-appearance: none
//      appearance: none
// .close
//      float: right
//      font-size: 1.5rem
//      font-weight: 700
//      line-height: 1
//      color: #000
//      text-shadow: 0 1px 0 #fff
//      opacity: .5
.rounded-pill
     +radius(50rem)
