.board-list
     li
          border-bottom: 1px solid $border-color
     a:hover
          color: $primary
// card-type-1
.card
     background-color: white
     border: 1px solid $border-color
     margin-bottom: $gap
     position: relative
     //display: flex
     &>a
          width: 100%
     .img-wrapper
          position: relative
          padding-top: 9/16*100%
          overflow: hidden
          img
               +easeoutcirc
               width: 100%
               +img-center
          &.default
               padding-top: 3/4*100%
          &.tall
               padding-top: 4/3*100%
     .card-content
          +easeoutcirc
          border-top: 1px solid $border-color

     &.hover-image-color
          img
               filter: grayscale(1)
          &:hover
               img
                    filter: grayscale(0)
     &.hover-border:hover
          border-color: $primary
          .card-content
               border-color: $primary

     &.hover-zoom
          a::before
               content: ""
               position: absolute
               +size(100%)
               top: 0
               left: 0
               background-position: center center
               background-repeat: no-repeat
               +easeoutcirc
          &:hover
               a::before
                    background-color: rgba($primary,0.5)
                    z-index: 1
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E")
.hover-image-zoom:hover
     img
          +transform(scale,1.05)

// card with background image
.card-bg-image
     +radius(.25rem)
     +shadow-sm
     position: relative
     overflow: hidden
     +easeoutcirc
     margin-bottom: $gap

     &.with-bg
          img
               transform-origin: center
               z-index: 0
               +img-center
               +easeoutcirc
          .card-content
               background-color: rgba(black,0.4)
               color: white
     .card-content
          min-height: 400px
          +radius(.25rem)
          display: block
          color: inherit
          +py(7rem)
          +px(3rem)
          position: relative
          z-index: 1
.card-masonry
     overflow: hidden
     +radius(4px)
     background-color: white
     margin-bottom: $gap
     .img-wrapper
          width: 100%
          overflow: hidden
          img
               +easeoutcirc
               display: block
               width: 100%
     &:hover
          h5
               color: $primary
          img
               +transform(scale,1.1)
.card-content
     +px($gap)
     padding-bottom: $gap/2
     padding-top: $gap/2 + 4px
     p
          +my(1rem)
          opacity: .68
.card-container
     max-width: 100%
     margin: 0 auto
.c-card
     width: 100%
     max-width: 350px
     margin: auto
     cursor: pointer
     transition: all 0.5s ease
     text-align: left
     background: #fff
     box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2)
     &:hover
          transform: translateY(-10px)
          box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3)
     &__image
          //width: 100%
     &__body
          padding: 20px
     &__title
          font-size: 18px
          font-weight: 700
          line-height: 1.2
          margin: 0
          padding: 0
          text-transform: uppercase
          margin-bottom: 5px

     &__subtitle
          font-size: 16px
          margin-top: 5px
          padding: 0
     &__intro
          margin-bottom: 0
          text-overflow: ellipsis
          white-space: nowrap
          overflow: hidden
          word-break: break-all
          position: absolute
.c-card--wide
     //max-width: 740px
     max-width: 80%
     .c-card
          &__body
               padding-top: 20px
.line-height-0
     line-height: 0
.c-card_intro
     @media (min-width: 992px)and(max-width: 1199px)
          padding-top: 0
          padding-bottom: 0
