.bg-teal
     background-color: #e2eef5
.bg-grey
     background-color: #f5f6f6

.com-slider
     width: 100%
     height: 100vh
.absolute
     position: absolute
     &.w-100
          top: 0
.com-slider-2
     width: 100%
     height: 100%
     display: flex
     flex-direction: column
     justify-content: center
     &__title
          font-size: 30px
          font-weight: bold
     &__sub-title
          font-size: 18px
     &_wrapper
          position: absolute
          display: inline-block
          width: 850px
          height: 540px
          background: #e7e7e7
          top: 0
          bottom: 0
          right: 0
          margin: auto
     &_top
          position: absolute
          top: -40px
          left: -75px
          z-index: 2
     &_bottom
          position: absolute
          right: 0
          bottom: -65px
          z-index: 1
     &_edition
          position: absolute
          right: 0
          bottom: 0
     &_pagination
          .swiper-pagination-bullet
               height: 18px
               width: 18px
               margin-top: 270px
               &-active
                    background-color: $primary
               &:not(:first-child)
                    margin-left: 27px

.com-slide
     display: flex
     flex-direction: column
     overflow: hidden
     justify-content: center
     h1.title
          color: $primary
          font-size: 80px
          font-family: 'Cocogoose',sans-serif
          text-transform: uppercase
     h2.title
          margin-top: 0
          color: $primary
          font-size: 60px
          font-family: 'Cocogoose',sans-serif
          text-transform: uppercase
          margin-bottom: 120px
     .sub-title
          line-height: 2.1
          font-size: 22px

     .big_text
          font-size: 100px
          font-family: 'Cocogoose',sans-serif
          text-transform: uppercase
          color: #555
          letter-spacing: -0.02em
          line-height: 1.2
          span
               display: block
               letter-spacing: 0.068em
     &_card
          background: white
          padding: 30px 30px 40px 30px
          display: flex
          min-height: 500px
          flex-direction: column
          transition: all 0.4s ease-in-out
          .square
               display: inline-block
               width: 14px
               height: 12px
               background-color: $primary
          h4
               font-size: 24px
               margin-top: 34px
               margin-bottom: 52px
          svg
               align-self: flex-end
               margin-top: auto
               .cls-1
                    fill: $primary
          &:hover
               background-color: $primary
               color: white
               .cls-1
                    fill: white
               .square
                    background-color: white

.ceo
     position: absolute
     z-index: 1
     right: 250px
     top: 0
     bottom: 0
     margin: auto
     &_back
          position: absolute
          right: 0
          top: 0
          bottom: 0
          margin: auto
     &_sign
          position: absolute
          right: 270px
          bottom: 108px

h3.history
     font-size: 40px
     padding-bottom: 20px
     font-family: 'Bebas Neue',sans-serif
     color: black
     text-transform: uppercase
     margin: 0
     line-height: 1em
     &+p
          font-size: 14px
          line-height: 1.84
          padding-top: 33px
          letter-spacing: 0.02em
          border-top: 4px solid $primary
.player_wrapper
     position: relative
     display: flex
     justify-content: center
     align-items: center
     .play
          position: absolute
          height: 90px
          width: 90px
          border-radius: 90px
          background-color: white
          text-align: center
          line-height: 90px
          color: $primary
          font-size: 50px
