footer
     background-color: #151515
     display: flex
     flex-direction: column
     align-items: center
     padding-top: 66px
     padding-bottom: 104px
     color: white
     &>img
          margin-bottom: 40px
          height: 34px
     p
          font-size: 15px
     h3.phone
          font-family: 'Bebas Neue', sans-serif
          font-size: 40px
          color: $primary
          text-transform: uppercase
          margin-right: 50px
          margin-top: 40px
          margin-bottom: 60px
          line-height: 1em
     +respond-to-down(medium)
          align-items: flex-start
          flex-direction: row
          flex-wrap: wrap
          +py(25px)
          +px(20px)
          &>img
               margin-bottom: 0
               height: 20px
               order: 0
               align-self: center
               margin-right: 15px
          .contact_info
               margin-top: 10px
          .flex
               order: 1
          p
               order: 2
               font-size: 10px

          h3.phone
               margin: 0 15px 0 0
               font-size: 24px
          .Copyright
               margin-top: 10px
          .btn
               font-size: 12px
               +px(8px)
               +py(4px)
               img
                    height: 12px
