.insta_top
     position: relative
     &::after
          content: ''
          position: absolute
          left: 0
          bottom: 0
          height: 34px
          width: 654px
          background: linear-gradient(to right,#ef424d 0%,#6441de 100%)
.insta_mid
     padding-top: 160px
     padding-bottom: 200px
     &_left
          color: #303030
          h1
               font-family: 'Bebas Neue',sans-serif
               font-size: 79px
               font-weight: 600
          h2
               font-size: 40px
               font-weight: 300
               letter-spacing: -0.02em
               line-height: 1.25
               margin-bottom: 70px
               span
                    font-weight: 800
          p
               font-size: 20px
               color: #555
               &+p
                    margin-top: 40px
               span
                    font-weight: 800
     &_right
          align-self: flex-end
          display: flex
          margin-top: 40px
          +respond-to(x-large)
               margin-top: 0
               margin-left: auto
          .percent
               font-family: 'Bebas Neue',sans-serif
               font-weight: 800
               line-height: 1
               margin-bottom: 10px
               span
                    font-size: 66%
          h4.percent
               font-size: 45px
          h5.percent
               font-size: 27px
               color: #4f4f4f
          .big_con
               +px(77px)
               +py(66px)
               background: #6541dd
               color: white
               text-align: center
               .logo_wrapper
                    +size(120px)
                    background-color: white
                    text-align: center
                    line-height: 120px
                    border-radius: 200px
                    box-shadow: 0px 5px 10px rgba(black,0.5)
                    img
                         vertical-align: middle
               p
                    font-size: 20px
                    font-weight: 800
                    margin-top: 20px
                    line-height: 1
          .small_con
               border: 2px solid rgba(#4f4f4f,0.3)
               display: flex
               align-items: center
               +my(14px)
               margin-left: -2px
               +px(40px)
               &>div
                    text-align: center
               .logo_wrapper
                    +size(75px)
                    border: 3px solid #6c6c6c
                    border-radius: 200px
                    display: inline-flex
                    justify-content: center
                    align-items: center
                    +mx(22px)
               h6
                    font-size: 12.65px
                    margin-top: 8px
                    font-weight: 300
                    color: #555
