.container-fluid
     width: 100%
     overflow: hidden
.pl-200
     padding-left: 10px
     +respond-to(small)
          padding-left: 20px
     +respond-to(medium)
          padding-left: 60px
     +respond-to(large)
          padding-left: 100px
     +respond-to(x-large)
          padding-left: 120px
     +respond-to(huge)
          padding-left: 200px
.pr-200
     padding-right: 10px
     +respond-to(small)
          padding-right: 20px
     +respond-to(medium)
          padding-right: 40px
     +respond-to(large)
          padding-right: 60px
     +respond-to(x-large)
          padding-right: 80px
     +respond-to(huge)
          padding-right: 200px
.con-big
     width: 100%
     +px($gap/2)
     +mx(auto)
     max-width: 1520px
.container
     width: 100%
     +mx(auto)
     +px($gap/2)
     +respond-to(x-small)
          max-width: 540px
     +respond-to(small)
          max-width: 720px
     +respond-to(medium)
          max-width: 960px
     +respond-to(large)
          max-width: 1180px
     +respond-to(x-large)
          max-width: 1380px

.container-small
     width: 100%
     +mx(auto)
     +px($gap/2)
     +respond-to(x-small)
          max-width: 540px
     +respond-to(small)
          max-width: 720px
     +respond-to(medium)
          max-width: 960px
     +respond-to(large)
          max-width: 1190px

.row
     +mx(-$gap/2)
     +flexbox
     +flex-wrap
.less-gap
     +mx(-12px)
     @for $i from 12 to 0
          .col-#{$i},.col-sm-#{$i},.col-md-#{$i},.col-lg-#{$i}
               +px(12px)
.no-gap
     +mx(0)
     @for $i from 12 to 0
          .col-#{$i},.col-sm-#{$i},.col-md-#{$i},.col-lg-#{$i}
               +px(0)
.flex-wrap
     +flex-wrap
.flex-fill
     flex: 1 1 auto !important
.column
     flex-direction: column
@for $i from 1 to 11
     .h-#{$i*10}
          height: $i*10%
     .w-#{$i*10}
          width: $i*10%
@for $i from 12 to 0
     .col-#{$i},.col-sm-#{$i},.col-md-#{$i},.col-lg-#{$i},.col-xl-#{$i}
          position: relative
          width: 100%
          +px($gap/2)
     +respond-to(x-large)
          .col-xl-#{$i}
               +flex(100%/12 * $i)
               max-width: 100%/12 * $i
     +respond-to(large)
          .col-lg-#{$i}
               +flex(100%/12 * $i)
               max-width: 100%/12 * $i
     +respond-to(medium)
          .col-md-#{$i}
               +flex(100%/12 * $i)
               max-width: 100%/12 * $i
     +respond-to(small)
          .col-sm-#{$i}
               +flex(100%/12 * $i)
               max-width: 100%/12 * $i

     .col-#{$i}
          +flex(100%/12 * $i)
          max-width: 100%/12 * $i
// col 1/5
.col-lg-5ths
     position: relative
     width: 100%
     +px($gap/2)
     +respond-to(large)
          +flex(100%/5)
          max-width: 100%/5

.float-left
     float: left
.float-right
     float: right
.inline
     display: inline-block
.fixed
     position: fixed !important
.sticky
     position: sticky
.flex
     +flexbox
.inline-flex
     display: inline-flex
