
$transform : 100vw
.main-slider-wrapper
     width: 100%
     height: 100vh
     position: relative
.svg-wrapper
     position: absolute
     top: 0
     left: 0
     right: 0
     line-height: 0
     height: 100%
     width: 100%
     z-index: 100
     max-width: 40vw
     margin: auto
     svg
          width: 100%
          height: 100%
          +respond-to-down(medium)
               display: none
.slider
     widows: 100%
     margin: 0
     padding: 0
     height: 100%
     .slide
          display: block
          width: 100%
          top: 0
          left: 0
          height: 100%
          position: absolute
          z-index: 1
          clip: rect(0,0,100vh,0)
          opacity: 1
          will-change: clip
          font-size: 100px
          background-position: center center
          background-size: cover
          &.active
               clip: rect(0,$transform,100vh,0)
               z-index: 3
               opacity: 1
          &.next
               z-index: 2
               opacity: 1
               clip: rect(0,100vw,100vh,0)
          @for $i from 1 to 7
               &:nth-child(#{$i})
                    background-image: url(../images/main/#{$i}.jpg)
.path,.path-after
     fill: none
     stroke: #fff
     stroke-miterlimit: 10
     stroke-width: 3px
     position: relative
     z-index: 5
     transition: all cubic-bezier(1,0,1,1)
.path-after
     stroke-width: 2px
     stroke: rgba(white,0.5)
.circle
     position: relative
     stroke: #fff
     stroke-miterlimit: 10
     stroke-width: 1px
     position: relative
     z-index: 10
     fill: #ffffff00
     pointer-events: all
     transition: all .3s ease-in-out
     &:hover
          fill: rgba(white,.5)
          cursor: pointer
     &.active
          r: 15
          &+.path


.circle-after
     transition: all .3s ease-in-out
     position: relative
     z-index: 5
     fill: white
     &.show
          r: 15

.control
     position: fixed
     bottom: 50px
     left: 0
     right: 0
     margin: auto
     z-index: 20
     text-align: center
.nextbtn,.prevbtn
     position: fixed
     bottom: 50%
     margin: auto
     z-index: 20
     text-align: center
.nextbtn
     right: 0
