.navbar
     position: fixed
     width: 100%
     top: 0
     padding: 60px
     display: flex
     z-index: 5
     .brand
          line-height: 0
     .toggle
          margin-left: auto
          background-color: transparent
          border: 0
          outline: none
          z-index: 1000
          cursor: pointer
          span
               width: 58px
               display: block
               height: 7px
               background-color: white
               transition: all 0.3s ease-in-out
               &:not(:first-child)
                    margin-top: 9px
          &.active
               span
                    background-color: white !important
                    &:first-child
                         transform: translateY(16px) rotate(45deg)
                    &:nth-child(2)
                         transform: translateX(50%)
                         opacity: 0
                    &:last-child
                         transform: translateY(-16px) rotate(-45deg)
     +respond-to-down(small)
          padding: 25px
          .brand
               img
                    height: 25px
          .toggle
               span
                    width: 29px
                    height: 3px
                    &:not(:first-child)
                         margin-top: 4px
               &.active
                    span
                         &:first-child
                              transform: translateY(7px) rotate(45deg)
                         &:last-child
                              transform: translateY(-7px) rotate(-45deg)
.nav
     transform: translateX(100%)
     position: fixed
     right: 0
     top: 0
     height: 100%
     max-width: 465px
     display: flex
     flex-direction: column
     align-items: center
     justify-content: center
     background-color: rgba(black,.7)
     transition: all 0.6s ease-in
     color: white
     z-index: 999
     +px(116px)
     a
          font-weight: 600
          font-size: 40px
          text-transform: uppercase
          letter-spacing: 0.15em
          &:hover
               color: $primary
          &:not(:first-child)
               margin-top: 100px
     &.show
          transform: translateX(0)
     +respond-to-down(small)
          +px(33px)
          a
               font-size: 14px
               &:not(:first-child)
                    margin-top: 58px
