.pagination
     +flexbox
     align-items: center
     .page-link
          padding: .5rem .75rem
          line-height: 1.25
          border: 1px solid $grey
          position: relative
          +mx(.10rem)
          background: $light-grey
          font-size: 14px
          font-weight: 400
          display: block
          &:hover
               background-color: #3455f7
               color: $white
          &.active
               background-color: white
               border-color: $red
               font-weight: 500
.page-item:first-child .page-link
     margin-left: 0
     border-top-left-radius: .25rem
     border-bottom-left-radius: .25rem
.page-item:last-child .page-link
     margin-left: 0
     border-top-right-radius: .25rem
     border-bottom-right-radius: .25rem
