
*,::before,::after
     box-sizing: border-box
html,body
     margin: 0
     padding: 0
     text-rendering: geometricPrecision
     position: relative
img
     border: none
body
     font-family: 'NanumSquare', sans-serif
     font-size: 16px
     font-style: normal
     font-weight: 300
     line-height: 1.45
     color: $main-text
     background-color: #fff
     text-rendering: optimizeLegibility
     -moz-osx-font-smoothing: grayscale
     -moz-font-feature-settings: "liga" on
     word-break: keep-all

p
     margin-top: 0
     margin-bottom: 0.25rem
ol:not(.default), ul:not(.default)
     list-style: none
     padding-left: 0
     +my(0)
a
     text-decoration: none
     color: inherit
     &:hover
          +ease-in-out(.3s)
          cursor: pointer
button, input, select, textarea
     margin: 0
     font: inherit
hr
     -webkit-box-sizing: content-box
     box-sizing: content-box
     height: 0
     overflow: visible
table
     border-collapse: collapse
     border-spacing: 0
.list-inside
     list-style-position: inside
.list-square
     list-style-type: square
textarea
     +px(1rem)
     border: 1px solid $border-color
h3
     // text-align: left !important
     // &::before
     //      content: ""
     //      display: block
     //      width: 60px
     //      border-top: 2px solid #0052CC
     //      padding-top: 20px
     // &::after
     //      content: ""
     //      display: block
     //      width: 100%
     //      border-bottom: 2px solid black
     //      margin-bottom: 20px
