
.sns_7
     position: relative
     display: flex
     +respond-to-down(medium)
          flex-direction: column
     .sns_left
          background-color: $primary
          flex: 0 0 32%
          max-width: 32%
          color: white
          display: flex
          align-items: center
          +respond-to-down(medium)
               flex: 0 0 100%
               max-width: 100%
               +py(40px)

          div
               width: 100%
               max-width: 345px
               display: flex
               flex-direction: column
               margin-left: auto
               align-items: flex-start
               img
                    margin-bottom: 50px
                    +respond-to-down(medium)

                         width: 24px
                         margin-bottom: 25px
               +respond-to-down(medium)
                    margin-right: auto
                    +px(20px)
          h2
               display: inline-block
               font-size: 43px
               color: white
               font-weight: 300
               position: relative
               span
                    font-weight: 800
               +respond-to-down(small)
                    font-size: 20px

     .sns_right
          flex: 1
          background-color: #dfdfdf
          +py(87px)
          padding-left: 90px
          padding-right: 90px
          +respond-to-down(medium)
               +py(60px)
               +px(40px)
          +respond-to-down(small)
               +py(30px)
               +px(20px)
          .sns_grid
               $row: 27px
               $column: 60px
               display: grid
               display: -ms-grid
               grid-template-columns: 1fr $column 1fr $column 1fr $column 1fr
               -ms-grid-columns: 1fr $column 1fr $column 1fr $column 1fr
               grid-template-rows: 1fr $row 1fr
               -ms-grid-rows: 1fr $row 1fr
               max-width: 940px
               +respond-to-down(large)
                    $row: 18px
                    $column: 40px
                    grid-template-columns: 1fr $column 1fr
                    -ms-grid-columns: 1fr $column 1fr
                    grid-template-rows: 1fr $row 1fr $row 1fr $row 1fr
                    -ms-grid-rows: 1fr $row 1fr $row 1fr $row 1fr
               +respond-to-down(small)
                    $row: 15px
                    $column: 30px
                    grid-template-columns: 1fr $column 1fr
                    -ms-grid-columns: 1fr $column 1fr
                    grid-template-rows: 1fr $row 1fr $row 1fr $row 1fr
                    -ms-grid-rows: 1fr $row 1fr $row 1fr $row 1fr
               .sns_box
                    background-color: white
                    position: relative
                    .content
                         padding: 30px 40px 40px 22px
                         +respond-to-down(small)
                              padding: 15px 20px 20px 10px
                    .number
                         font-family: 'Bebas Neue',sans-serif
                         font-size: 40px
                         color: #272727
                         font-weight: 600
                         line-height: 1
                         margin-bottom: 36px
                         +respond-to-down(medium)
                              font-size: 30px
                              margin-bottom: 24px
                         +respond-to-down(small)
                              font-size: 20px
                              margin-bottom: 18px
                    p
                         font-size: 24px
                         color: #272727
                         line-height: 1.25
                         +respond-to-down(medium)
                              font-size: 18px
                         +respond-to-down(small)
                              font-size: 14px
                    &:nth-child(1)
                         grid-column: 1
                         grid-row: 1
                         -ms-grid-column: 1
                         -ms-grid-row: 1
                         +respond-to-down(large)
                              grid-column: 1
                              grid-row: 1
                              -ms-grid-column: 1
                              -ms-grid-row: 1
                    &:nth-child(2)
                         grid-column: 3
                         grid-row: 1
                         -ms-grid-column: 3
                         -ms-grid-row: 1
                         +respond-to-down(large)
                              grid-column: 3
                              grid-row: 1
                              -ms-grid-column: 3
                              -ms-grid-row: 1
                    &:nth-child(3)
                         grid-column: 5
                         grid-row: 1
                         -ms-grid-column: 5
                         -ms-grid-row: 1
                         +respond-to-down(large)
                              grid-column: 1
                              grid-row: 3
                              -ms-grid-column: 1
                              -ms-grid-row: 3
                    &:nth-child(4)
                         grid-column: 1
                         grid-row: 3
                         -ms-grid-column: 1
                         -ms-grid-row: 3
                         +respond-to-down(large)
                              grid-column: 3
                              grid-row: 3
                              -ms-grid-column: 3
                              -ms-grid-row: 3
                    &:nth-child(5)
                         grid-column: 3
                         grid-row: 3
                         -ms-grid-column: 3
                         -ms-grid-row: 3
                         +respond-to-down(large)
                              grid-column: 1
                              grid-row: 5
                              -ms-grid-column: 1
                              -ms-grid-row: 5
                    &:nth-child(6)
                         grid-column: 5
                         grid-row: 3
                         -ms-grid-column: 5
                         -ms-grid-row: 3
                         +respond-to-down(large)
                              grid-column: 3
                              grid-row: 5
                              -ms-grid-column: 3
                              -ms-grid-row: 5
                    &:nth-child(7)
                         grid-column: 7
                         grid-row: 3
                         -ms-grid-column: 7
                         -ms-grid-row: 3
                         +respond-to-down(large)
                              grid-column: 1
                              grid-row: 7
                              -ms-grid-column: 1
                              -ms-grid-row: 7
.sns_absolute_con
     position: absolute
     top: 0
     height: 100%
     left: 0
     right: 0
     display: flex
     align-items: center
     h2
          font-size: 43px
          color: white
          font-weight: 300
          position: relative
          span
               font-weight: 800
          &::after,&::before
               content: ''
               position: absolute
               left: 24px
               top: -100px
               width: 8px
               height: 48px
               background: white
          &::after
               transform: rotate(90deg)

.sns_bottom
     padding-top: 120px
     text-align: center
     +respond-to-down(small)
          padding-top: 60px
     h2
          font-size: 52px
          font-weight: 300
          line-height: 1em
          +respond-to-down(small)
               font-size: 26px
     h1
          font-size: 67px
          font-weight: 600
          line-height: 1em
          margin-bottom: 100px
          +respond-to-down(small)
               font-size: 32px
               margin-bottom: 50px
     h4
          font-size: 26px
          font-weight: 800
          margin-bottom: 20px
          color: #303030
          +respond-to-down(small)
               font-size: 18px
               margin-bottom: 10px
     p
          font-size: 20px
          font-weight: 300
          letter-spacing: -0.03em
          color: #303030
          opacity: .8
          +respond-to-down(small)
               font-size: 16px

     .col-sm-4
          margin-bottom: 86px
          +respond-to-down(small)
               margin-bottom: 43px
     .img

          line-height: 0
          img
               max-width: 100%
.sns-mid
     margin-bottom: 180px
     +respond-to-down(medium)
          margin-bottom: 120px
     +respond-to-down(small)
          margin-bottom: 90px
     .graph
          max-width: 100%
     +respond-to-down(x-large)
          flex-direction: column
          align-items: center
     div
          text-align: right
          flex: 1
          +respond-to-down(x-large)
               text-align: center
               margin-top: 50px
          h3
               font-size: 40px
               font-weight: 300
               line-height: 1.5
               color: #555
               span
                    font-weight: 800
                    color: #303030
               +respond-to-down(small)
                    font-size: 20px
          p
               font-size: 20px
               color: #555
               line-height: 1.5
               margin-top: 30px
               +respond-to-down(small)
                    font-size: 16px
                    margin-top: 15px
