.sub-header
     height: 600px
     background-position: center center
     background-repeat: no-repeat
     background-size: cover
     position: relative
     .page_title
          margin-top: 180px
          font-size: 78px
          font-weight: 800
          color: white
          line-height: 1.2
          text-transform: uppercase
          font-family: 'Nanum Gothic',sans-serif
     +respond-to-down(small)
          height: 300px
          .page_title
               font-size: 39px
               margin-top: 90px
section.top
     padding-top: 140px
     padding-bottom: 200px
     .text
          display: flex
          flex-direction: column
          position: relative
          align-items: flex-start
          &>h4
               font-size: 40px
               font-weight: 300
               line-height: 1
               margin-top: 90px
               span
                    font-weight: 800
          &>h3
               font-size: 34px
               color: #555
               +my(0)
          &>h2
               margin-top: 0
               font-size: 60px
               color: #1d1c1c
               font-weight: 300
          &>h1
               margin-top: 0
               font-size: 70px
               color: #1d1c1c
               font-weight: 300
          &>p
               margin-top: 80px
               font-size: 20px
               line-height: 1.6
               color: #555
               b
                    color: #1c1c1c
               &.p2
                    margin-top: 30px
          .black-box
               position: absolute
               right: 0
               bottom: 0
               box-sizing: content-box
               text-align: center
               +size(260px)
               border: 12px solid #1d1c1c
               display: flex
               flex-direction: column
               margin-top: 80px
               &>h1
                    margin-top: auto
                    font-size: 150px
                    line-height: 1em
                    font-family: 'Bebas Neue',sans-serif
                    color: #1d1c1c
                    span
                         font-size: 100px
               p
                    font-size: 24px
                    line-height: 1em
                    margin-bottom: 20px
          .review
               position: absolute
               right: 0
               bottom: 0
               max-width: 70%
          .plus-con
               flex: 1
               position: absolute
               right: -56px
               top: 0
     +respond-to-down(large)
          .text
               .black-box
                    position: static
               .review
                    position: static
                    margin-top: 100px

               .plus-con
                    position: static
                    margin-top: 50px
     +respond-to-down(small)
          padding-top: 70px
          padding-bottom: 70px
          .text
               text-align: center
               align-items: center
               &>h3
                    font-size: 18px
               &>h2
                    font-size: 30px
                    br
                         display: none
               &>h1
                    font-size: 35px
               &>p
                    margin-top: 40px
                    font-size: 16px
               .black-box
                    margin-top: 40px
                    position: static
                    +size(160px)
                    border: 6px solid #1d1c1c
                    &>h1
                         font-size: 100px
                         span
                              font-size: 66px
                    p
                         font-size: 16px
                         margin-bottom: 13.3333px
               .review
                    margin-top: 50px
               .plus-con
                    margin-top: 50px
.card-grey
     position: relative
     height: 300px
     margin-bottom: $gap
     .content
          width: 100%
          height: 100%
          padding: 30px
          background-color: #a6a6a6
          text-align: center
          color: white
          transition: all 0.3s ease-in-out
          &:hover
               background-color: $primary
          h5
               font-size: 24px
               font-weight: 600
               +my(30px)
          p
               font-size: 18px
     +respond-to-down(medium)
          height: 200px
          .content
               padding: 20px
               h5
                    font-size: 20px
                    +my(20px)
               p
                    font-size: 16px
     +respond-to-down(small)
          height: 180px
          .content
               padding: 10px
               h5
                    font-size: 16px
                    +my(10px)
               p
                    font-size: 14px





.viral_bottom_con
     position: relative
     margin-top: 138px
     &_img-wrapper
          position: relative
          padding-top: 600px
          line-height: 0
          overflow: hidden
          img
               +img-center
     &_content
          position: absolute
          width: 100%
          top: 0
     .text
          height: 456px
          display: flex
          flex-direction: column
          justify-content: center
          h4
               color: white
               font-size: 34px
               letter-spacing: -0.05em
               line-height: 1em
               text-align: center
               font-weight: 300
          h2
               color: white
               font-size: 70px
               letter-spacing: -0.05em
               text-align: center
               font-weight: 300
     .order-row
          +mx(-10px)
          display: flex
          flex-wrap: wrap
          padding-left: 60px
          .order-box
               margin-top: 110px
               $flex-size: 300px
               flex: 0 0 $flex-size
               max-width: $flex-size
               margin-left: 75px
               .order
                    $dimension: 120px
                    display: inline-block
                    height: $dimension
                    width: $dimension
                    border: 6px solid #363636
                    color: #1d1c1c
                    font-family: 'Bebas Neue',sans-serif
                    font-size: 86px
                    text-align: center
                    font-weight: bold
                    line-height: $dimension - 10
               h4
                    font-size: 28px
                    +my(45px)
                    color: #2a2a2a
               p
                    font-size: 24px
                    color: #575757
     +respond-to-down(small)
          margin-top: 70px
          &_img-wrapper
               padding-top: 300px
               img
                    height: 100%
          .text
               height: 220px
               h4
                    font-size: 16px
               h2
                    font-size: 24px
          .order-row
               +px(30px)
               .order-box
                    margin-top: 55px
                    $flex-size: 100%
                    flex: 0 0 $flex-size
                    max-width: $flex-size
                    margin-left: 0
                    display: flex

                    .order
                         $dimension: 60px
                         height: $dimension
                         width: $dimension
                         border: 3px solid #363636
                         font-size: 43px
                         line-height: $dimension - 5
                    &>div
                         flex: 1
                         padding-left: 20px
                    h4
                         font-size: 20px
                         +my(20px)
                    p
                         font-size: 16px
                         br
                              display: none



// blog page

.plus-con
     display: -ms-grid
     display: grid
     grid-template-columns: repeat(3, 1fr)
     -ms-grid-columns: (1fr)[3]
     .plus-col
          display: flex
          flex-direction: column
          align-items: center
          &:nth-child(1)
               grid-column: 1
               -ms-grid-column: 1
          &:nth-child(2)
               grid-column: 2
               -ms-grid-column: 2
          &:nth-child(3)
               grid-column: 3
               -ms-grid-column: 3
     .icon-wrapper
          +size(175px)
          background-color: $primary
          border-radius: 200px
          display: flex
          +mx(56px)
          align-items: center
          justify-content: center
          img
               max-width: 50%
     h5
          font-size: 24px
          font-weight: 600
          color: #505050
          margin-top: 30px
          text-align: center
     p
          font-size: 18px
          font-weight: 300
          color: #575757
          margin-top: 30px
          text-align: center
     &.wide
          margin-top: 84px
          .icon-wrapper
               +mx(80px)
     +respond-to-down(medium)
          .icon-wrapper
               +size(140px)
               +mx(40px)
          h5
               font-size: 18px
               margin-top: 20px
          p
               font-size: 16px
               margin-top: 20px
          &.wide
               margin-top: 56px
               .icon-wrapper
                    +mx(60px)
     +respond-to-down(small)
          .icon-wrapper
               +size(80px)
               +mx(28px)
          h5
               font-size: 16px
               margin-top: 20px
          p
               font-size: 14px
               margin-top: 20px
          &.wide
               margin-top: 42px
               .icon-wrapper
                    +mx(40px)
     +respond-to-down(x-small)
          grid-template-rows: repeat(3, 1fr)
          -ms-grid-rows: (1fr)[3]
          grid-template-columns: none
          -ms-grid-columns: none
          .plus-col
               margin-bottom: 15px
               &:nth-child(1)
                    grid-column: 1
                    -ms-grid-column: 1
                    grid-row: 1
                    -ms-grid-row: 1
               &:nth-child(2)
                    grid-column: 1
                    -ms-grid-column: 1
                    grid-row: 2
                    -ms-grid-row: 2
               &:nth-child(3)
                    grid-column: 1
                    -ms-grid-column: 1
                    grid-row: 3
                    -ms-grid-row: 3
          .icon-wrapper
               +size(80px)
               +mx(28px)
          h5
               font-size: 16px
               margin-top: 20px
          p
               font-size: 14px
               margin-top: 20px
          &.wide
               margin-top: 42px
               .icon-wrapper
                    +mx(40px)



.blog_bottom_con
     background-image: url(../images/blog-bottom.jpg)
     background-position: center center
     background-size: cover
     background-repeat: no-repeat
     color: white
     padding-bottom: 170px
     .col-12
          &::before
               content: ''
               background-color: $primary
               position: absolute
               left: 0
               top: -100px
               height: 310px
               width: 87px
     h1
          font-size: 60px
          font-weight: 300
          margin-top: 150px
          margin-bottom: 140px
          text-align: center
     &_grid
          +mx(auto)
          display: -ms-grid
          display: grid
          grid-template-rows: 1fr 98px 1fr
          -ms-grid-rows: 1fr 98px 1fr
          grid-template-columns: 1fr 92px 1fr
          -ms-grid-columns: 1fr 92px 1fr
     &_box
          padding: 40px 50px
          border: 1px solid white
          &:nth-child(1)
               grid-row: 1
               grid-column: 1
               -ms-grid-row: 1
               -ms-grid-column: 1
          &:nth-child(2)
               grid-row: 1
               grid-column: 3
               -ms-grid-row: 1
               -ms-grid-column: 3
          &:nth-child(3)
               grid-row: 3
               grid-column: 1
               -ms-grid-row: 3
               -ms-grid-column: 1
          &:nth-child(4)
               grid-row: 3
               grid-column: 3
               -ms-grid-row: 3
               -ms-grid-column: 3
          h5
               font-size: 24px
               margin-bottom: 10px
          p
               font-size: 20px
               opacity: .6
               line-height: 1.5
     +respond-to-down(small)
          padding-bottom: 75px
          .col-12
               &::before
                    left: 10px
                    top: -50px
                    height: 120px
                    width: 30px
          h1
               font-size: 30px
               margin-top: 75px
               margin-bottom: 70px
          &_grid
               grid-template-rows: 1fr 40px 1fr 40px 1fr 40px 1fr
               -ms-grid-rows: 1fr 40px 1fr 40px 1fr 40px 1fr
               grid-template-columns: 1fr
               -ms-grid-columns: 1fr
          &_box
               padding: 20px 25px
               &:nth-child(1)
                    grid-row: 1
                    grid-column: 1
                    -ms-grid-row: 1
                    -ms-grid-column: 1
               &:nth-child(2)
                    grid-row: 3
                    grid-column: 1
                    -ms-grid-row: 3
                    -ms-grid-column: 1
               &:nth-child(3)
                    grid-row: 5
                    grid-column: 1
                    -ms-grid-row: 5
                    -ms-grid-column: 1
               &:nth-child(4)
                    grid-row: 7
                    grid-column: 1
                    -ms-grid-row: 7
                    -ms-grid-column: 1
               h5
                    font-size: 18px
                    margin-bottom: 10px
               p
                    font-size: 14px


.cafe_bottom_con
     display: flex
     &_img
          flex: 0 0 870px
          max-width: 870px
          img
               float: right
               position: relative
     h1
          font-size: 50px
          color: $primary
          font-weight: 800
          letter-spacing: -0.02em
          line-height: 1em
     h2
          font-size: 45px
          font-weight: 300
          letter-spacing: -0.02em
          color: #393939
     p
          margin-top: 40px
          font-size: 20px
          letter-spacing: -0.02em
     &_text
          flex: 1
          margin-top: 170px
          text-align: right
     +respond-to-down(x-large)
          &_img
               flex: 0 0 670px
               max-width: 670px
     +respond-to-down(large)
          flex-wrap: wrap
          &_img
               order: 2
               flex: 0 0 100%
               max-width: 100%
               img
                    float: right
                    width: 100%
                    position: relative
          &_text
               order: 1
               flex: 1
               margin-top: 0
               text-align: left
               margin-bottom: 100px
     +respond-to-down(small)
          h1
               font-size: 30px
          h2
               font-size: 25px
          p
               margin-top: 20px
               font-size: 16px
               letter-spacing: -0.02em
          &_text
               flex: 1
               text-align: center
.exp_mid_con
     padding-top: 180px
     padding-bottom: 160px
     display: flex
     flex-direction: column
     align-items: center
     &.bg-color
          background-color: #f0f1f6
     &.bg-image
          background-image: url(../images/exp_bottom.jpg)
          +bg-center
     h3
          font-size: 45px
          font-weight: 300
          color: #1d1c1c
     h2
          font-size: 60px
          font-weight: 300
          color: #1d1c1c
          span
               font-weight: 800
     h4
          text-align: center
          margin-top: 75px
          font-size: 20px
          font-weight: 300
          color: #555
     +respond-to-down(medium)
          padding-top: 120px
          padding-bottom: 100px
          h3
               font-size: 35px
          h2
               font-size: 45px
          h4
               margin-top: 50px
               font-size: 18px
     +respond-to-down(small)
          padding-top: 90px
          padding-bottom: 60px
          h3
               font-size: 24px
          h2
               font-size: 30px
               span
                    display: block
                    text-align: center
          h4
               margin-top: 30px
               font-size: 16px


.rounded-title
     font-size: 36px
     color: white
     font-weight: 800
     background-color: $primary
     display: inline-block
     line-height: 1em
     +py(26px)
     +px(84px)
     border-radius: 50em
     margin-top: 96px
     +respond-to-down(medium)
          font-size: 24px
          +py(18px)
          +px(56px)
          margin-top: 64px
     +respond-to-down(small)
          font-size: 18px
          +py(13px)
          +px(42px)
          margin-top: 48px
.exp_boxes
     margin-top: 60px
     .col-lg-5ths
          margin-bottom: 50px
.exp_box
     height: 100%
     +px(24px)
     text-align: center
     display: flex
     flex-direction: column
     margin-bottom: 30px
     h4
          color: $primary
          font-size: 26px
          font-weight: 800
          line-height: 1em
          +my(56px)
     p
          color: #575757
          font-size: 20px
          font-weight: 300
          margin-bottom: 58px
