@font-face
     font-family: 'Nanum Gothic'
     font-style: normal
     font-weight: 400
     src: url('../fonts/NanumGothic-Regular.ttf') /* IE9 Compat Modes */

@font-face
     font-family: 'Nanum Gothic'
     font-style: normal
     font-weight: 600
     src: url('../fonts/NanumGothic-Bold.ttf') /* IE9 Compat Modes */

@font-face
     font-family: 'Nanum Gothic'
     font-style: normal
     font-weight: 800
     src: url('../fonts/NanumGothic-ExtraBold.ttf') /* IE9 Compat Modes */



@font-face
     font-family: 'NanumSquare'
     font-style: normal
     font-weight: 800
     src: url('../fonts/NanumSquareEB.eot') /* IE9 Compat Modes */
     src: url(../fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),url(../fonts/NanumSquareEB.woff) format('woff'),url(../fonts/NanumSquareEB.woff2) format('woff2'),url(../fonts/NanumSquareEB.ttf) format('truetype')
@font-face
     font-family: 'NanumSquare'
     font-style: normal
     font-weight: 600
     src: url('../fonts/NanumSquareB.eot') /* IE9 Compat Modes */
     src: url(../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),url(../fonts/NanumSquareB.woff) format('woff'),url(../fonts/NanumSquareB.woff2) format('woff2'),url(../fonts/NanumSquareB.ttf) format('truetype')
@font-face
     font-family: 'NanumSquare'
     font-style: normal
     font-weight: 300
     src: url('../fonts/NanumSquareR.eot') /* IE9 Compat Modes */
     src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),url(../fonts/NanumSquareR.woff) format('woff'),url(../fonts/NanumSquareR.woff2) format('woff2'),url(../fonts/NanumSquareR.ttf) format('truetype')
@font-face
     font-family: 'NanumSquare'
     font-style: normal
     font-weight: 200
     src: url('../fonts/NanumSquareL.eot') /* IE9 Compat Modes */
     src: url(../fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),url(../fonts/NanumSquareB.woff) format('woff'),url(../fonts/NanumSquareL.woff2) format('woff2'),url(../fonts/NanumSquareL.ttf) format('truetype')

@font-face
     font-family: 'Cocogoose'
     font-style: normal
     font-weight: 300
     src: url('../fonts/Cocogoose Pro-trial.ttf') /* IE9 Compat Modes */

@font-face
     font-family: 'Cocogoose'
     font-style: normal
     font-weight: 200
     src: url('../fonts/Cocogoose Pro Light-trial.ttf') /* IE9 Compat Modes */

@font-face
     font-family: 'Bebas Neue'
     font-style: normal
     font-weight: 400
     src: url('../fonts/BebasNeue-Regular.otf')
     src: local('Bebas Neue'), local('BebasNeue-Regular'), url('../fonts/BebasNeue-Regular.ttf') format('truetype')

h1,h2,h3,h4,h5,h6,p
     +my(0)
.bold
     font-weight: bold

.text-light
     font-weight: 200
.text-300
     font-weight: 300
.text-500
     font-weight: 500
.text-700
     font-weight: 700
.text-normal
     font-weight: 400
.text-center
     text-align: center
.text-right
     text-align: right
.text-left
     text-align: left
.text-muted
     color: #909090
.no-line-height
     line-height: 0
.line-height-refresh
     line-height: 1.45



@for $i from 1 to 11
     .opacity-#{$i*10}
          opacity: $i*0.1
