.youtube_74
     border: 6px solid #303030
     +py(96px)
     display: flex
     justify-content: center
     +respond-to-down(medium)
          +py(64px)
     +respond-to-down(small)
          flex-direction: column
          +py(40px)
     h1
          line-height: 1
          font-size: 64px
          font-weight: 300
          span
               font-weight: 800
          +respond-to-down(medium)
               font-size: 40px
          +respond-to-down(small)
               font-size: 32px

     .youtube-left
          margin-right: 60px
          display: flex
          flex-direction: column
          justify-content: space-between
          +respond-to-down(medium)
               margin-right: 40px
          +respond-to-down(small)
               margin-right: 0
               text-align: center
     .youtube-right
          text-align: center
          span
               display: block
               font-size: 18px
               color: #555
               align-items: center
               +respond-to-down(medium)
                    font-size: 16px
               +respond-to-down(small)
                    margin-top: 20px
          img
               +respond-to-down(medium)
                    height: 76px
               +respond-to-down(small)
                    height: 60px
.youtube_title
     margin-top: 200px
     margin-bottom: 110px
     h5
          font-size: 30px
          letter-spacing: -0.02em
          color: #555
          font-weight: 300
     h3
          font-size: 50px
          letter-spacing: -0.02em
          font-weight: 800
          color: #393939
          text-transform: uppercase
     +respond-to-down(medium)
          margin-top: 160px
          margin-bottom: 80px
          h5
               font-size: 24px
          h3
               font-size: 35px
     +respond-to-down(small)
          margin-top: 100px
          margin-bottom: 50px
          text-align: center
          h5
               font-size: 18px
          h3
               font-size: 24px
.youtube_row
     display: flex
     color: #555
     +respond-to-down(medium)
          flex-direction: column
     &.row1
          justify-content: space-between
     &.row2
          +mx(-50px)
          margin-bottom: 200px
          +respond-to-down(medium)
               margin-bottom: 160px
          +respond-to-down(small)
               +mx(0)
               margin-bottom: 100px
          .flex
               flex: 0 0 50%
               max-width: 50%
               +px(50px)
               +respond-to-down(medium)
                    flex: 0 0 100%
                    max-width: 100%
               +respond-to-down(small)
                    +px(30px)
     &.row3
          color: white
          justify-content: space-between
          align-items: center
     h1
          font-size: 88px
          line-height: 0.9
          font-family: 'Bebas Neue',sans-serif
          color: #303030
          font-weight: 600
          margin-right: 20px
          +respond-to-down(medium)
               font-size: 60px
          +respond-to-down(small)
               font-size: 44px
     h2
          font-size: 57.4px
          font-weight: 800
          line-height: 1.3
          +respond-to-down(medium)
               font-size: 38px
          +respond-to-down(small)
               font-size: 28px
               text-align: center
     h3
          font-size: 46px
          font-weight: 300
          +respond-to-down(medium)
               font-size: 30px
          +respond-to-down(small)
               font-size: 23px
               text-align: center
     img
          max-width: 100%
          &:not(.graphic)
               margin-bottom: 60px
               +respond-to-down(medium)
                    margin-bottom: 40px
               +respond-to-down(small)
                    margin-bottom: 30px
     h6
          font-size: 25px
          font-weight: 600
          span
               font-weight: 800
          +respond-to-down(medium)
               font-size: 20px
          +respond-to-down(small)
               font-size: 18px
     p
          margin-top: 10px
          font-size: 18px
          line-height: 1.5
          +respond-to-down(medium)
               margin-bottom: 50px
               font-size: 16px
.youtube_bottom
     background: #303030
     color: white
     +py(120px)
     .graphic
          max-width: 100%
          +respond-to-down(medium)
               margin-top: 50px
          +respond-to-down(small)
               margin-top: 30px
     +respond-to-down(medium)
          +py(80px)
     +respond-to-down(small)
          +py(50px)
.youtube_col
     +respond-to-down(medium)
          text-align: center
